/* 기본 스타일 설정 */
.calendar-container {
  width: 100%;
  max-width: 90%; /* 최대 너비 설정 */
  margin: 0 auto;
}

.react-calendar-heatmap .color-empty {
  fill: #ebedf0;
}

.react-calendar-heatmap .color-gitlab-1 {
  fill: #9be9a8;
}

.react-calendar-heatmap .color-gitlab-2 {
  fill: #40c463;
}

.react-calendar-heatmap .color-gitlab-3 {
  fill: #30a14e;
}

.react-calendar-heatmap .color-gitlab-4 {
  fill: #216e39;
}

.react-calendar-heatmap .color-today {
  fill: #ff6347; /* 오늘 날짜 강조 */
  stroke: #000; /* 테두리 색상 */
  stroke-width: 2px; /* 테두리 두께 */
}

/* 특정 날짜 타일에 대한 추가 스타일 */
.react-calendar-heatmap rect[data-date='2024-04-28'] {
  stroke: blue;
  stroke-width: 2px;
}
